



.FlexCard{
 display: flex;
 flex-wrap: wrap;
 gap: 63px;
 justify-content: space-evenly;
 padding: 20px;
 ;
}

.card{
 width: 350px;
 height: 515px;
 margin: auto;
 perspective: 900px;
}

.card-inner{
 width: 100%;
 height: 100%;
 position: relative;
 transition: transform 1s;
 transform-style: preserve-3d;
}
/* preserve 3d alows us to keep the backside of the card show the inner when flipped */

.back,
.front{
 width: 100%;
 height: 100%;
 border-radius: 15px;
 position: absolute;
 backface-visibility: hidden; 
}
/* position is absolute to keep the positions the same, or else back will be at bottom of screen, backface is hidden until flipped. */

.front{
  background: linear-gradient(#00a6d2, #9bdaf1);
  background-size: cover;
  background-position: center;
  padding: 230px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.front h2{
  font-weight: 500;
  font-style: bold;
  font:larger;
  text-align: center;

}

.back{
  background: white;
  color: black;
  padding: 20px 40px;
  transform: rotateY(180deg);
}

.card:hover .card-inner{
  transform: rotateY(180deg);
}

.police:hover{
    color: red;
}

p{
    font-size: 17px;
    word-spacing: 2%;
    line-height: 1.7;
}

a:link{
    font-size: 10px;
    color: #02bfe7;
    text-decoration: none;
}
a:hover{
    color: #02bfe7;
    text-decoration: underline;
}
a.localpolice:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: #02bfe7;
}

.containerFrame{
    position: relative;
    width: 90%;
    padding-top: 56.25%;
}
.responsiveFrame{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

