.pg{
    display: flex;
    flex-direction: column;
    text-align: left;
    word-spacing: 2%;
    line-height: 3;
}
.founderBlock{
    display: flex;
    flex-direction: column;
    word-spacing: 2%;
}

.founderLink{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

img.founder{
    border-radius: 50%;
    height: 250px;
}

a:link{
    font-size: 40px;
    color: #02bfe7;
    text-decoration: none;
}
a:hover{
    color: #02bfe7;
    text-decoration: underline;
}
a:visited{
    color: #02bfe7;
    text-decoration: none;
}
a:active{
    color: #02bfe7;
}


