* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ededed;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.containerLogo{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr, 1fr, 1fr;
  column-gap: 5px;
  background-color: rgba(214, 214, 205);
  
}

.LOGO{
  width: 150px;

}
.titletxt{
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-decoration: none;
}


.containerHomeInfo {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-decoration: none;
}


.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.homeBtn,
.aboutBtn,
.contactBtn,
.planBtn,
.homeImg,
.planImg,
.contactImg{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.footer{
  text-align: center;
}

/* Responsive adjustments */
@media (min-width: 600px) {
  .planButton,
  .contactButton {
    flex: 1 1 45%;
  }
}

@media (min-width: 768px) {
  .containerHomeInfo {
    font-size: 2rem;
  }
}