* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ededed;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}


.LOGO{
  
  width: 100px;
  height: 100px;
}

.Headertext{
  display:inline-block;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-decoration: none;
}


.containerHomeInfo {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-decoration: none;
}


.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.homeBtn,
.aboutBtn,
.contactBtn,
.planBtn,
.homeImg,
.planImg,
.contactImg{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.FlexCard{
 display: flex;
 flex-wrap: wrap;
 gap: 63px;
 justify-content: center;
 align-items: flex-start;
 padding: 20px;
}

.card{
 width: 350px;
 height: 515px;
 margin: auto;
 perspective: 900px;
}

.card-inner{
 width: 100%;
 height: 100%;
 position: relative;
 transition: transform 1s;
 transform-style: preserve-3d;
}

.back,
.front{
 width: 100%;
 height: 100%;
 border-radius: 15px;
 position: absolute;
 backface-visibility: hidden;
}

.front{
  background: linear-gradient(#452309b4, #948b72);
  background-size: cover;
  background-position: center;
  padding: 230px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.front h2{
  font-weight: 500;
  font-style: bold;
  font:larger;
  text-align: center;

}

.back{
  background: white;
  color: black;
  padding: 20px 40px;
  transform: rotateY(180deg);
}

.card:hover .card-inner{
  transform: rotateY(180deg);
}




/* Responsive adjustments */
@media (min-width: 600px) {
  .planButton,
  .contactButton {
    flex: 1 1 45%;
  }
}

@media (min-width: 768px) {
  .containerHomeInfo {
    font-size: 2rem;
  }
}